{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
            {% for article in articles %} 
                <div class="col-md-3 card">
                    <img src="{{article.image}}" alt="{{article.title}}" class="card-img-top img-responsive">
                    <div class="card-body">
                        <h4 class="card-header">{{article.title}}</h4>
                        <p class="card-text">{{article.description}}</p>
                        <p> posted on {{article.date | truncate(13)}}</p>
                        <a href="{{article.url}}">Read more</a>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
{% endblock %}