{% macro displaySourcesList(movie_list) %}

    {% for news_source in news_source_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 news_source-card">
            <img src="{{ news_source }}" alt="{{ news_source.title }} image" class="img-responsive">
            <li class="text-center">
                <a href="/news_source/{{news_source.id}}">
                    {{ news_source.title|truncate(15)}}</a>
            </li>
        </div>
    {% endfor %}

{% endmacro %}

<!-- Displaying reviews macro -->
{% macro displayReviews(review_list) %}
    {% for review in review_list %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
        <h2> {{ review.title}} </h2>
        <p> {{ review.review | truncate(40) }}</p>
    </div>
    {% endfor %}
{% endmacro %}